.centrado{
	text-align:center;
}

#tabla{
	border:1px solid silver;
	margin:auto;
}

#tabla td{
	border:1px solid silver;
}

.error{
	background:#FCECD7;
	padding:15px;
	border-radius:5px;
}

select{
	width:210px;
	border:1px solid blue;
}

